configuration:
  logging:

events:

modules: [ ["IRCConnectDone", "../app/events/ircconnectdone.rb"],
           ["NewData", "../app/events/newdata.rb"],
           ["IRCMsg", "../app/events/ircmsg.rb"],
           ["IRCNumeric", "../app/events/ircnumeric.rb"],
           ["IRCCommand", "../app/events/irccommand.rb"],
           ["ModuleServClient", "../app/modules/moduleserv/client.rb"],
           ["LimitServClient", "../app/modules/limitserv/client.rb"],
           ["LimitServCore", "../app/modules/limitserv/core.rb"],
           ["BotClient", "../app/modules/bot/client.rb"],
           ["BotG", "../app/modules/bot/google.rb"],
           ["BotWeather", "../app/modules/bot/weather.rb"],
           ["BotQuotes", "../app/modules/bot/quotes.rb"]
         ]

connections:
  clients:
    irc:
      host: 127.0.0.1
      port: 6667
      ssl: false
      parameters:
        sid: 30X
        server_name: Serv1-Bot.GeeksIRC.net
        server_description: Serv1 Bots
        server_password: 

  servers:

  databases:
    test:
      adapter: mysql
      host: 127.0.0.1
      username: RPS
      password: 
      port: 3306
      database: RPS
      pool: 10

# Your modules
# example, moduleserv:
# NOTE: must be lowercase
exmaple:
  nick: ExampleServ
  user: service
  host: whatever.net
  real: Service
  modes: +Sio
  # Separated by comma
  debug_channels: '#logging1'
  idle_channels: '#idle1,#idle2,#idle3'
  control_channels: '#control'
